.create-part-modal-container {
    height: 44.7vh;
    width: 25vw;
    background-color: var(--background);
    border-radius: .5rem;
    padding: 1rem;
}

.create-part-modal-error-ticketNumber {
    margin-top: 2.1rem;
}

.create-part-modal-error-partNumber {
    margin-top: 5.6rem;
}

.create-part-modal-error-description {
    margin-top: 9.1rem;
}

.create-part-modal-error-price {
    margin-top: 12.6rem;
}

.create-part-modal-error-quantity {
    margin-top: 16.1rem;
}

.create-part-modal-error-status {
    margin-top: 19.6rem;
}

.create-part-modal-inner-container {
    background-color: var(--gray);
    border-radius: 0.5rem;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    padding-bottom: 1.5rem;
}
