.landing-page-video_inner {
    display: flex;
    justify-content: center;
    background-color: var(--black);
    position: relative;
    z-index: -1;
    padding-top: 70px;
}

.landing-page-slide-container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    background-color: var(--black);
    height: 261px
}

.landing-page-slide_inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

.landing-page-slider {
    height: 2.5rem;
    width: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.landing-page-info {
    background-color: var(--black);
    height: 958px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing-page-final-info {
    background-color: var(--black);
    height: 1151.02px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing-page-info_inner {
    color: var(--white);
    display: flex;
    align-items: center;
    gap: 2rem;
}

.landing-page-final-info_inner {
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.landing-page-ref {
    height: 70px;
    background-color: var(--black);
}

.landing-page-final-info_inner > h1 {
    font-size: 24px;
}

.landing-page-final-info_inner > img {
    margin-right: 5rem;
}

.landing-page-info_inner > h1 {
    width: 30rem;
    line-height: 2.5rem;
    font-size: 24px;
}

.landing-page-final-button {
    list-style-type: none;
    width: 15rem;
    height: 3rem;
    border-radius: .5rem;
    background-color: var(--primary-light);
    color: var(--white);
    font-family: quicksand;
    font-size: 24px;
    font-weight: 600;
    cursor: pointer;
    border: 0;
    transition-duration: .2s;
    transition-timing-function: ease;
}

.landing-page-final-button:hover {
    background-color: var(--primary-light-accent);
    box-shadow: 0px 1px 10px var(--white);
}

.landing-page-final-slide-container {
    margin-bottom: -6.5rem;
    margin-top: 12rem;
}


@media (min-width: 769px)
    and (max-width: 1024px) {
    .landing-page-info_inner {
        gap: 0;
    }

    .landing-page-info_inner > img {
        width: 450px;
        height: 450px;
    }

    .landing-page-info_inner > h1 {
        width: 100%;
        margin-right: 1rem;
        margin-left: 1rem;
    }

    .landing-page-final-info_inner > h1  {
        text-align: center;
    }

    .landing-page-final-info_inner > img {
        margin-right: 0;
    }

    .landing-page-video_inner > video {
        width: 100%;
    }
}

@media (min-width: 481px)
    and (max-width: 768px) {
        .landing-page-info_inner {
            gap: 0;
        }

        .landing-page-info_inner > img {
            width: 425px;
            height: 425px;
        }

        .landing-page-info_inner > h1 {
            width: 100%;
            margin-right: 1rem;
            margin-left: 1rem;
        }

        .landing-page-final-info_inner > h1  {
            text-align: center;
        }

        .landing-page-final-info_inner > img {
            margin-right: 0;
        }

        .landing-page-final-slide-container {
            margin-top: 9rem;
        }
        .landing-page-video_inner > video {
            width: 100%;
        }
        .landing-page-block {
            width: 100%;
        }
    }

@media (max-width: 480px) {
    .landing-page-inital-block {
        width: 60rem;
        height: 113.5rem;
    }
    .landing-page-block {
        width: 60rem;
        height: 108rem;
    }
    .landing-page-info_inner > img {
        width: 700px;
        height: 700px;
    }
    .landing-page-final-info_inner > img {
        width:700px;
        height: 700px;
    }

    .landing-page-info_inner > h1 {
        width: 40rem;
        font-size: 50px;
        text-align: center;
        line-height: 4.5rem;
    }

    .landing-page-info_inner {
        flex-direction: column;
        gap: 5;
    }

    .landing-page-video_inner > video {
        padding-top: 15rem;
        border-bottom: 4px solid var(--black);
    }

    .landing-page-final-info_inner {
        /* gap: 0rem; */
        margin-bottom: 10rem;
    }

    .landing-page-info {
        height: 69.6%;
        padding-top: 11rem;
    }

    .landing-page-ref {
        border: 2px solid black;
    }
    .landing-page-slide-container {
        height: 545px;
        margin-top: -2px;
    }
    .landing-page-final-info {
        height: 100%;
    }

    .landing-page-final-slide-container {
        margin-top: 2rem;
    }

    .landing-page-final-info_inner > h1 {
        font-size: 65px;
        text-align: center;
    }
    .landing-page-final-info_inner > h3 {
        font-size: 50px;
        text-align: center;
    }
    .landing-page-final-button {
        margin-top: 2rem;
    }
}
