/***************   NAVIBAR ITEMS  ***************/
.navi-bar {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 45rem;
    background-color: var(--black);
    width: 100%;
    position: fixed;
    border-bottom: 1px solid var(--border);
    z-index: 1;
}

.navi-login-container {
    list-style-type: none;
    display: flex;
    gap: 2rem;
}

.navi-login-login-button, .navi-login-signup-button  {
    display: flex;
    align-items: center;
    height: 2.2rem;
    padding: 1rem;
    background: var(--primary-light);
    border-radius: 1rem;
    font-size: 20px;
    font-weight: 600;
    color: var(--white);
}

.navi-login-login-button:hover, .navi-login-signup-button:hover {
    box-shadow: 0px 1px 10px var(--white);
    cursor: pointer;
    background: var(--primary-light-accent)
}

.navi-login-login-button:active, .navi-login-signup-button:active {
    background: var(--primary-light);
}

.navi-button {
    padding: 1rem;
    height: 2.2rem;
    border-radius: 20px 20px;
    border: none;
    background-color: var(--primary-light);
    color: var(--white);
    margin-left: 3.6rem;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.navi-button:hover {
    background-color: var(--primary-light-accent);
}

.navi-button:active {
    background-color: var(--primary-light);
    margin-top: .2rem;
}

.navi-user-arrow {
    color: #CCCCCC;
    padding-left: 5px;
    margin-right: 3.3rem;
    cursor: pointer;
}

.navi-user-arrow:active {
    margin-top: .2rem;
}

.navi-icons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.profile-dropdown {
    background-color: var(--border);
    border-radius: .5rem;
    position: absolute;
    margin-top: 193px;
    margin-right: 3.3rem;
    list-style-type: none;
    width: 15rem;
    padding: .5rem 0px;
}

.profile-dropdown-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 20px;
    font-weight: 500;
    cursor: default;
}

.profile-dropdown-container > li {
    padding-right: 1rem;
}
.profile-dropdown-menu-option {
    width: 92%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2rem;
    transition-duration: .2s;
    transition-timing-function: ease;
    margin-right: 0.5rem;
    padding: 0px 0.5rem;
}

.profile-dropdown-menu-option:hover {
    background-color: var(--primary-dark);
    border-radius: .2rem;
    cursor: pointer;
}

.profile-dropdown-border {
    border: 1px solid black;
    width: 100%;
    margin: .5rem 0px;
}
