/***************   NAVIBAR ITEMS  ***************/
.navi-bar {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 45rem;
    background-color: var(--black);
}

.navi-login-container {
    list-style-type: none;
    display: flex;
    gap: 2rem;
}

.navi-home {
    font-size: 56px;
    font-weight: 700;
    color: var(--primary-dark);
}

.navi-home > img {
    margin-top: 1rem;
}
.navi-login-login-button, .navi-login-signup-button  {
    display: flex;
    align-items: center;
    height: 2.2rem;
    padding: 1rem;
    background: var(--primary-light);
    border-radius: 1rem;
    font-size: 20px;
    font-weight: 600;
}

.navi-login-login-button:hover, .navi-login-signup-button:hover {
    box-shadow: 0px 1px 10px var(--white);
    cursor: pointer;
    background: var(--primary-light-accent)
}

.navi-login-login-button:active, .navi-login-signup-button:active {
    background: var(--primary-light);
}

/* .navi-login-signup-button {
    display: flex;
    align-items: center;
    height: 2rem;
    padding: 1rem;
    background: var(--primary-light);
}

 */



























.navi-button {
    width: 33px;
    height: 33px;
    border-radius: 20px 20px;
    border: none;
    background-color: rgb(227, 35, 89);
    color: white
}

.fa-angle-up, .fa-angle-down {
    color: #CCCCCC;
    padding-left: 5px;
}

.profile-dropdown {
    background-color: white;
    border: 1px solid black;
    position: absolute;
    margin-top: 209px;
    padding-left: 0px;
    list-style-type: none;
}

.navi-icons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.navi-icon-new-group {
    color: #00798A;
    font-weight: 500;
    padding-right: 1.75rem;
    cursor: pointer;
    font-size: 14px;
}


.profile-dropdown-container > li {
    padding: 4px 15px;
}

.profile-dropdown-logout-container {
    border-top: 1px solid black;
    cursor: pointer;
}
