.signup-modal-outer-container {
    padding: 0px 3.2rem;
    padding-bottom: 3rem;
}

.signup-modal-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup-modal-container > h1 {
    margin-top: 0px;
    font-size: 1.75rem;
    margin-bottom: .5rem;
}

.signup-modal-input-form {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    align-items: center;
}

.signup-modal-input-form > label {
    font-weight: 500;
}

.signup-modal-inputs {
    display: flex;
    width: 23rem;
    height: 2.5rem;
    padding: 8px 12px;
    margin-bottom: 1rem;
    border-radius: .5rem;
    border: 1px solid #CCCCCC
}

.signup-modal-inputs:focus  {
    outline: none;
}

.signup-modal-input:focus  {
    outline: none;
}

.signup-modal-login {
    display: flex;
    margin-bottom: 1.9rem;
}

.signup-modal {
    list-style-type: none;
}

.signup-modal-button {
    width: 23.5rem;
    background-color: var(--primary-light);
    color: white;
    border-radius: .5rem;
    margin-top: 16px;
    height: 3rem;
    border: none;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}

.signup-modal-button:disabled {
    background-color: var(--gray);
    cursor: text;
}

.signup-modal-button:hover:enabled{
    background-color: var(--primary-light-accent);
}

.signup-modal-errors-email {
    font-size: 12px;
    color: rgb(207,42,39);
    position: absolute;
    margin-top: 14rem;
    font-weight: 500;
}

.signup-modal-errors-password-1 {
    font-size: 12px;
    color: rgb(207,42,39);
    position: absolute;
    font-weight: 500;
    margin-top: 24.4rem;
}

.signup-modal-errors-password-2 {
    font-size: 12px;
    color: rgb(207,42,39);
    position: absolute;
    font-weight: 500;
    margin-top: 29.5rem;
}

.signup-modal-errors-username {
    font-size: 12px;
    color: rgb(207,42,39);
    position: absolute;
    font-weight: 500;
    margin-top: 19.2rem;
}

.signup-modal-errors-firstname {
    font-size: 12px;
    color: rgb(207,42,39);
    position: absolute;
    font-weight: 500;
    margin-top: 3.7rem;
}

.signup-modal-errors-lastname {
    font-size: 12px;
    color: rgb(207,42,39);
    position: absolute;
    font-weight: 500;
    margin-top: 8.8rem;
}

.signup-xmark {
    position: absolute;
    margin-left: 24.7rem;
    margin-top: 1.5rem;
    color: #999999;
    cursor: pointer;
}
