.ticket-info-customer-container {
   padding-top: 1.5rem;
}
.ticket-info-customer_inner {
    background-color: var(--border);
    margin: 0px .5rem;
    border-radius: .5rem;
    height: 17rem;
    padding: 1.5rem 0px;
    display: grid;
    grid-template-columns: 1fr 1fr;
 }

.ticket-info-customer, .ticket-info-address {
   display: flex;
   justify-content: center;
}

.ticket-header {
   width: 20vw;
   background-color: var(--active);
   margin-left: .5rem;
   margin-bottom: .5rem;
   padding: .5rem;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   color: var(--white);
   font-size: 26px;
   font-weight: 500;
   border-top-left-radius: .5rem;
   border-bottom-left-radius: .5rem;
   box-shadow: 5px 4px 3px var(--black);
}

.ticket-address-container1 {
   width: 21vw;
   background-color: var(--active);
   padding: .5rem;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   color: var(--white);
   font-size: 26px;
   font-weight: 500;
   border-top-left-radius: .5rem;
   border-bottom-left-radius: .5rem;
   margin-bottom: 0.5rem;
   box-shadow: 5px 4px 3px var(--black);

}

.ticket-address-container2 {
   width: 22vw;
   background-color: var(--active);
   padding: .5rem;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   color: var(--white);
   font-size: 26px;
   font-weight: 500;
   border-top-right-radius: .5rem;
   border-bottom-right-radius: .5rem;
   margin-bottom: 0.5rem;
   box-shadow: 4px 4px 3px var(--black);

}

.ticket-address-input_inner > input {
   border: 1px solid var(--gray);
   height: 2rem;
   width: 20vw;
   margin-left: .3rem;
   border-radius: .5rem;
   font-family: quicksand;
   font-size: 16px;
   font-weight: 500;
   padding-left: 1.5rem;
}

.ticket-address-input_inner  > input:focus {
   outline: none;
}


.ticket-header > p {
   padding-left: 1rem;
}

.ticket-input {
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   background-color: var(--active);
   margin-bottom: .5rem;
   margin-right: .55rem;
   padding-right: 1rem;
   border-top-right-radius: .5rem;
   border-bottom-right-radius: .5rem;
   box-shadow: 4px 4px 3px var(--black);
}

.ticket-input > input {
   border: 1px solid var(--gray);
   height: 2rem;
   width: 20vw;
   margin-left: 2rem;
   padding-left: 1rem;
   border-radius: .5rem;
   font-family: quicksand;
   font-size: 16px;
   font-weight: 500;
}

.ticket-input > input:focus {
   outline: none;
}

.error-address {
   color: var(--ticket);
   font-size: 16px;
   font-weight: 700;
   position: absolute;
   margin-left: .4rem;
}

@media (min-width: 769px)
        and (max-width: 879px) {
         /* .product-input_inner > input, .product-input_inner > select {
            margin-left: 0;
         } */

         .ticket-info-customer_inner {
            padding-bottom: 21.5rem;
         }
        }

@media (min-width: 481px)
        and (max-width: 768px) {
         .ticket-info-customer_inner {
            padding-bottom: 21.5rem;
         }
         .ticket-address-input_inner > input {
          width: 18vw;
         }
        }
