.ticket-part-header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr .5fr;
    grid-auto-rows: 42px;
    margin: 1rem;
}

.ticket-info-part_inner {
    background-color: var(--border);
    margin: 0px 0.5rem;
    border-radius: 0.5rem;
    height: 15rem;
    padding-top: 0.5rem;
}

.ticket-part-header > h3 {
    background-color: var(--black);
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid var(--white);
}

.ticket-part-header > p {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
}

.ticket-part-header > select {
    color: var(--white);
    outline: none;
    padding-left: 10%;
    font-family: quicksand;
    font-size: 16px;
    border: 0;
}


.ticket-part-header > h4 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ticket-part-header > h4:hover {
    cursor: pointer;
    text-decoration-line: underline;
}
