.ticket-search-container {
    padding-top: 75px;
    height: 159px;
    background-color: var(--border);
}

.ticket-search_inner {
    color: var(--white);
    background-color: var(--background);
    height: 80px;
    padding: .1rem 2.5rem;
    margin: 0px .5rem;
    border-radius: .5rem;
    display: flex;
    align-items: center;
}

.ticket-search-input {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 20px;
    gap: 1rem;
}

.ticket-search-input > input {
    border: 0;
    outline: none;
    padding-left: .5rem;
    font-family: quicksand;
    font-size: 16px;
    font-weight: 500;
    height: 2.3rem;
    background-color: var(--border);
    border-radius: .5rem;
}

.ticket-search-input > input:active {
}
