.ticket-part-header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr .75fr .5fr;
    grid-auto-rows: 42px;
    margin: 1rem;
    box-shadow: 1px 6px 5px var(--black);
}

.ticket-info-part-container {
    padding-top: 1.5rem;
}

.ticket-info-part_inner {
    background-color: var(--border);
    margin: 0px 0.5rem;
    border-radius: 0.5rem;
    max-height: 28rem;
    min-height: 12rem;
    padding: 0.5rem 0px;
}

.ticket-part-header > h3 {
    background-color: var(--black);
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px solid var(--white);
    padding-left: 2rem;
    box-shadow: 4px 4px 5px var(--black);
}

.ticket-part-header > input {
    background-color: var(--gray);
    box-shadow: 4px 4px 5px var(--black);
    border: 0;
    outline: none;
    font-family: quicksand;
    font-size: 16px;
    padding-left: 2rem;
    border-bottom: 1px solid var(--black);
    border-left: 1px solid var(--black);
    border-right: 1px solid var(--black);
    color: var(--white);
}

.ticket-part-header > input::placeholder {
    color: var(--white);
}

.ticket-part-header > p {
    background-color: var(--gray);
    color: var(--white);
    box-shadow: 4px 4px 5px var(--black);
    border: 0;
    outline: none;
    font-family: quicksand;
    font-size: 16px;
    padding-left: 2rem;
    border-bottom: 1px solid var(--black);
    border-left: 1px solid var(--black);
    border-right: 1px solid var(--black);
    display: flex;
    align-items: center;
}

.ticket-part-header > select {
    background-color: var(--gray);
    color: var(--white);
    outline: none;
    font-family: quicksand;
    font-size: 16px;
    border: 0;
    padding-left: 1.7rem;
    border-bottom: 1px solid var(--black);
    border-left: 1px solid var(--black);
    border-right: 1px solid var(--black);
    box-shadow: 4px 4px 5px var(--black);
}

.part-list-options {
    display: flex;
}

.part-list-options > h4 {
    background-color: var(--gray);
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid var(--black);
    border-left: 1px solid var(--black);
    border-right: 1px solid var(--black);
    box-shadow: 4px 4px 5px var(--black);
    color: var(--primary-light);
    width: 100%;
}

.part-list-options > h4:hover {
    cursor: pointer;
    text-decoration: underline;
}

.error-service-tracking {
    color: var(--ticket);
    font-size: 18px;
    font-weight: 700;
    /* margin: 0px 1rem; */
    display: flex;
    /* grid-template-columns: 1fr 1fr 1fr 1fr .75fr .5fr; */
    position: absolute;
}
.error-service-tracking-number {
    margin-left: 1rem;
    margin-top: -.3rem;
}

.error-service-tracking-description {
    margin-left: 20.1rem;
    margin-top: -.3rem;
}

.error-service-tracking-price {
    margin-left: 20.1rem;
    margin-top: -.3rem;
}

.error-service-tracking-quantity {
    margin-left: 20.1rem;
    margin-top: -.3rem;
}

.error-service-tracking-status {
    margin-left: 20.1rem;
    margin-top: -.3rem;
}

.part-list-page-num {
    background-color: var(--background);
    width: fit-content;
    padding: 0px 1rem;
    border-radius: .5rem;
    display: flex;
    justify-content: flex-end;
    margin-left: 96%;
}
