.ticket-info-product-container {
    padding-top: 1.5rem;
 }

.ticket-info-product_inner {
    background-color: var(--border);
    margin: 0px .5rem;
    border-radius: .5rem;
    height: 15rem;
    padding-top: .5rem;
}
