:root {
    --active: #727272;
    --background: #32353a;
    --banner: #2789E9;
    --black: #000000;
    --border: #CCCCCC;
    --delete:#DA373C;
    --delete-accent:#A12828;
    --errors: #F23F42;
    --gray: #999999;
    --primary-dark: #004AAD;
    --primary-light: #5CE1E6;
    --primary-light-accent: #12f7ff;
    --white: #F6F6F6;
}

@font-face {
    font-family: "quicksand";
    font-style: normal;
    font-weight: 300;
    src: url(/fonts/Quicksand/Quicksand-Light.ttf);
}

@font-face {
    font-family: "quicksand";
    font-style: normal;
    font-weight: 400;
    src: url(/fonts/Quicksand/Quicksand-Regular.ttf);
}

@font-face {
    font-family: "quicksand";
    font-style: normal;
    font-weight: 500;
    src: url(/fonts/Quicksand/Quicksand-Medium.ttf);
}

@font-face {
    font-family: "quicksand";
    font-style: normal;
    font-weight: 600;
    src: url(/fonts/Quicksand/Quicksand-SemiBold.ttf);
}

@font-face {
    font-family: "quicksand";
    font-style: normal;
    font-weight: 700;
    src: url(/fonts/Quicksand/Quicksand-Bold.ttf);
}
