@import url("./_variables.css");

.hidden {
    display: none
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: quicksand;
    width: 100%;
    height: 100%;
}
